@{
}

<h1>My Cheese</h1>

@*<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Delete">Delete Cheese</a></p>*@


@if (ViewBag.Cheeses.Count == 0)
{
    <p>There are no cheeses in the list!</p>
}

<ul>
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {
        <p>@cheese.Key  @cheese.Value</p>
    }
</ul>
