@{
}

<h1>@ViewBag.Title</h1>

@*<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Delete">Delete Cheese</a></p>*@


@if (ViewBag.cheeses.Count == 0)
{
    <p>There are no cheeses in the list!</p>
}

    <table style="width:100%">
        <tr>
        <th>Name</th>
        <th>Description</th>
        </tr>
        
        @foreach (Cheese cheese in ViewBag.cheeses)
        {
        <tr>
        <td>@cheese.Name</td>
        <td>@cheese.Description</td>
        </tr>
        }

   </table>
